{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1>Resumen Fundation </h1>    
    <div style="border: 1px red solid;" class="grid-x large-12">
        <h1 style="border: 1px blue solid;" class="cell large-4">elemento1</h1>
        <h2 style="border: 1px blue solid;" class="cell large-4">elemento2</h2>
        <h3 style="border: 1px blue solid;" class="cell large-4">elemento3</h3>
    </div>
</body>
</html>